<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Listando Produtos</title>
</head>
<body>
    <h1>Listando dados de Produto com Jquery e Ajax</h1>
    <div id="listagem"></div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

    var div = document.getElementById("listagem");

    $(document).ready(function (){
        $.ajax({
            url: "https://localhost:44376/Produtos/Listar",
            type: "GET"
            })
            .done(function(data) {        
               
              data.forEach(element => {
                div.innerHTML += `<p>Id: ${element.id} Nome: ${element.nome} Status: ${element.status}`;
              });
              
            });
})

</script>
</html>